.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;            
  z-index: 9999;
  background-color: transparent;
  display: block;         
}
.header-container {
  width: 100vw;          
  max-width: none;        
  margin: 0 !important;  
  padding: 0 40px;      
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 120px;
  display: block;
}

.nav-component {
  display: flex;
  align-items: center;
}

.nav-component ul {
  display: flex;
  list-style: none;
  gap: 35px; 
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: #ffffff; 
  font-weight: 500;
  transition: 0.3s;
  font-size: 1rem;
}

.nav-link.active {
  color: #FFA726; 
  font-weight: bold;
}